<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    height: 100vh;
  }

  .logingroup {
    display: flex;
    flex-direction: column;
    padding: 32px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .emailInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .passwordInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submitButton {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #333;
    }
  }

  .logocontainer {
    display: flex;
    align-items: center;
    gap: 8px;
    /* margin-bottom: 32px; */
  }

  .logocontainer img {
    width: 32px;
    height: 32px;
  }
</style>

<div class="logingroup">
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="logocontainer">
    <%= image_tag("evaluate.svg", alt: "logo") %>
    <h2>Evalu.at</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "emailInput" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "passwordInput" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Entrar", class: "submitButton" %>
    </div>
  <% end %>
</div>
